* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  overflow-y: hidden;
  background-color: black;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.welcome {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome_title {
  color: white;
  margin: 0 0 50px;
}

.welcome_nav {
  display: flex;
  flex-flow: column wrap;
}

.welcome_link-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  margin: 10px 0;
}

.welcome_link {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  width: 100%;
  padding: 20px 50px;

  background: linear-gradient(45deg, #ff8877 33%, #ffdd66 66%, #3ee3bb);
  background-clip: text;
  -webkit-text-fill-color: transparent;

  border: 5px solid;
  border-image-source: linear-gradient(45deg, #ff8877 33%, #ffdd66 66%, #3ee3bb);
  border-image-slice: 1;
}

.welcome_link:hover {
  background: linear-gradient(45deg, #ffdd66 33%, #3ee3bb 66%, #ff8877);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border-image-source: linear-gradient(45deg, #ffdd66 33%, #3ee3bb 66%, #ff8877);
}
